/dts-v1/;

// device tree: https://www.youtube.com/watch?v=m_NyYEBxfn8
// brief HW description in chapter 4 of MIPS Malta-R Development Platform User’s Manual

/ {
    model = "MIPS Malta-R";
    compatible = "mti,malta";

	cpus {
		cpu@0 {
			compatible = "mti,mips14KEc", "mti,mips14Kc";
		};
	};

    memory {
        device_type = "memory";
        reg = <0x0, 0x8000000>; // 256M
    };


// DEVICES:

  // system controller a.k.a. PCI Host Controller
  pcihc@0 {

        cbus@0 {
            uart0: serial@xxx {
                compatible = "ns16550a";

            }
        }

        pci@0 {

// PIIX4 internal registers are organized into four functions—ISA Bridge with integrated AT compatibility logic,
// IDE Controller, USB Host Controller, and Enhanced Power Management. Each function has its registers
// divided into one set of PCI Configuration Registers and one or more register sets located in system IO space.

            // pci-isa bridge
            isab@0 {
                   

                isa: isa@1000 {
		                compatible = "isa";
		                //#address-cells = <2>;
		                //#size-cells = <1>;
		                //ranges = <1 0 0 0x1000>;

		                uart0: serial@3f8 {
			                  compatible = "ns16550a";

			                  reg = <1 0x3f8 0x40>;
			                  reg-shift = <0>;

			                  clock-frequency = <1843200>;

		                };

                    uart1: serial@2f8 {
			                  compatible = "ns16550a";

			                  reg = <1 0x2f8 0x40>;
			                  reg-shift = <0>;

			                  clock-frequency = <1843200>;

                    };

                    rtc0: rtc@70 {

                    };

                    atkbdc0: atkbdc@xxx {

                    };

                    
	              }; // isa@0
            }; // isab@0
        }; // pci@0
    }; // pcihc@0
}; // /

